name: test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          stable: false
          go-version: '1.16beta1'
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Print go version
        run: go version
      - name: Test
        run: make test
